/*DEFAULT VALUES  had a problem with header not quite responsive and the right header magically moved like 100 px from right to left and caused problems but with AUTO in grid fixed it also add AUTO to 900 px media query especially the last button*/
* {
    margin: 0 0;
    padding: 0 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: sans-serif;
    font-size: 12px;
}

.svg {
    padding-top: 3px;
}

html {
    scroll-behavior: smooth;
}

a {
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}

/* HERE THE GIRD LAYOUT FOR THE PAGE */
section.container-menus {
    height: 100vh;
    display: grid;
    grid-template: 
    "header header" 0.1fr
    "left-menu mini-header" 0.08fr
    "left-menu main" 0.82fr /
    0.15fr 0.85fr;
}

section.container-menus header.header {
    grid-area: header;
    outline: 1px solid #000;
    width: 100%;
    display: grid;
    grid-template: 
    "header-sub-1 header-sub-2 header-sub-3" 1fr /
    0.2fr 0.9fr auto; /* this is where the bug was wich cause header problems, i had all three at 1fr 1fr 1fr but when i tried auto in the last part all went perfect when responsive*/
    background-color: #f9f9f9;
}

section.container-menus header.mini-header {
    grid-area: mini-header;
    outline: 1px solid #000;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr;
}

section.container-menus aside.left-menu {
    grid-area: left-menu;
    outline: 1px solid #000;
    width: 100%;
    display: grid;
    grid-template: 
    "left-menu-sub-1" 0.2fr
    "left-menu-sub-2" 0.2fr
    "left-menu-sub-3" 0.2fr
    "left-menu-sub-4" 0.4fr /
    /* "left-menu-sub-5" 0.05fr
    "left-menu-sub-6" 0.05fr
    "left-menu-sub-7" 0.3fr
    "left-menu-sub-8"; 0.3fr */
    1fr;
    /* overflow: scroll; */
}

section.container-menus main.main-menu {
    grid-area: main-menu;
    outline: 1px solid #000;
    width: 100%;
    /* overflow: scroll; */
}

section.container-menus header.header .header-sub-1 {
    grid-area: header-sub-1;
    outline: 0.5px solid rgba(41, 19, 19, 0.363);
    display: grid;
    place-items: center;
    justify-content: center;
    /* align-content: start; */
}

section.container-menus header.header .header-sub-2 {
    grid-area: header-sub-2;
    outline: 0.5px solid rgba(41, 19, 19, 0.363);
    display: grid;
    place-items: center;
    justify-content: center;
    /* align-content: start; */
}

section.container-menus header.header .header-sub-3 {
    grid-area: header-sub-3;
    outline: 0.5px solid rgba(41, 19, 19, 0.363);
    display: grid;
    place-items: center;
    justify-content: center;
    /* align-content: start; */
}

section.container-menus aside.left-menu .left-menu-sub-1 {
    grid-area: left-menu-sub-1;
    outline: 0.5px solid rgba(41, 19, 19, 0.363);
}

section.container-menus aside.left-menu .left-menu-sub-2 {
    grid-area: left-menu-sub-2;
    outline: 0.5px solid rgba(41, 19, 19, 0.363);
}

section.container-menus aside.left-menu .left-menu-sub-3 {
    grid-area: left-menu-sub-3;
    outline: 0.5px solid rgba(41, 19, 19, 0.363);
}

section.container-menus aside.left-menu .left-menu-sub-4 {
    grid-area: left-menu-sub-4;
    outline: 0.5px solid rgba(41, 19, 19, 0.363);
}

/* section.container-menus aside.left-menu .left-menu-sub-5 {
    grid-area: left-menu-sub-5;
    outline: 0.5px solid rgba(41, 19, 19, 0.363);
}

section.container-menus aside.left-menu .left-menu-sub-6 {
    grid-area: left-menu-sub-6;
    outline: 0.5px solid rgba(41, 19, 19, 0.363);
}

section.container-menus aside.left-menu .left-menu-sub-7 {
    grid-area: left-menu-sub-7;
    outline: 0.5px solid rgba(41, 19, 19, 0.363);
}

section.container-menus aside.left-menu .left-menu-sub-8 {
    grid-area: left-menu-sub-8;
    outline: 0.5px solid rgba(41, 19, 19, 0.363);
} */

header.header .header-sub-1 .header-group-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    grid-gap: 10px;
    width: 100%;
}

header.header .header-sub-2 .header-group-2 {
    display: grid;
    grid-template-columns: 450px auto;
    place-items: center;
    justify-content: center;
    grid-gap: 10px;
    width: 100%;
}

header.header .header-sub-3 .header-group-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;
    place-items: center;
    justify-content: center;
    /* padding-right: 10px; */
    width: 100%;
}

header.header .header-sub-3 .header-group-3 button {
    text-transform: uppercase;
    border: 1px solid #065fd4;
    background-color: #fff;
    font-size: 14px;
    padding: 10px 10px;
    font-weight: 700;
    letter-spacing: 0.5px;
    font-family: sans-serif;
    color: #065fd4;
    margin-right: 10px;
    cursor: pointer;
}


header.header .header-sub-3 .header-group-3 button:hover {
    background-color: #065fd4;
    color: #fff;
    border: 1px solid #111111;
    transition: 1s;
}

header.header .header-sub-2 .header-group-2 .button-search {
    
    display: grid;
    grid-template-columns: 1fr 0.1fr;
    width: 100%;
}

header.header .header-sub-2 .header-group-2 a i{
    font-size: 26px;
}


header.header .header-sub-2 .header-group-2 input {
    font-size: 16px;
    background-color: #fff;
    color: #111111;
    letter-spacing: normal;
    font-weight: normal;
    border: 1px solid #b1b7c0;
    padding: 10px 10px;
    width: 100%;
}

header.header .header-sub-2 .header-group-2 button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #f5eded;
    border: 1px solid #1e1f20;
    cursor: pointer;
}

header.header .header-sub-2 .header-group-2 input:active {
    border: 1px solid #065fd4;
}

header.mini-header ul.elements-wrapper {
    display: grid;
    grid-template-columns: repeat(7, 130px);
    grid-gap: 20px;
    place-items: center;
    justify-content: left;
    /* padding-left: 10px; */
    /* overflow: scroll; */
}

header.mini-header ul.elements-wrapper li {
    border-radius: 20px;
    background-color: #f5eded;
    padding: 5px 20px;
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 500;
    color: #111111;
    letter-spacing: 0.1px;
    cursor: pointer;
    border: 1px solid #aca3a3;
    /* display: grid;
    place-items: center; */
}

header.mini-header ul.elements-wrapper li:hover {
    background-color: #141616;
    transition: 1s;
    color: #fff;
    border: 2px solid #ffffff;
}




@media screen and (max-width: 1250px) {

    header.mini-header ul.elements-wrapper {
        overflow: hidden;
    }

}

@media screen and (max-width: 600px) {

    section.container-menus {
        height: 100vh;
        display: grid;
        grid-template: 
        "header" 0.1fr
        "mini-header" 0.08fr
        "main" 0.82fr /
        1fr;
    }

    section.container-menus aside.left-menu {
        display: none;
    }

}

@media screen and (max-width: 900px) {
    header.header .header-sub-2 .header-group-2 {
        display: grid;
        grid-template-columns: auto auto ;
        place-items: center;
        justify-content: center;
        grid-gap: 5px;
        width: 100%;
    }

    header.header .header-sub-3 .header-group-3 {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-gap: 5px;
        width: 100%;
    }

    header.header .header-sub-1 .header-group-1 {
        display: grid;
        grid-template-columns: auto auto ;
        place-items: center;
        justify-content: center;
        grid-gap: 5px;
        width: 100%;
    }
}