/*DEFAULT VALUES */
* {
    margin: 0 0;
    padding: 0 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: sans-serif;
    font-size: 12px;
}

.svg {
    padding-top: 3px;
}

html {
    scroll-behavior: smooth;
}

a {
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}

/* HERE THE GIRD LAYOUT FOR THE PAGE */
section.container-menus {
    height: 100vh;
    display: grid;
    grid-template: 
    "header header" 0.1fr
    "left-menu mini-header" 0.08fr
    "left-menu main" 0.82fr /
    0.2fr 0.8fr;
}

section.container-menus header.header {
    grid-area: header;
    outline: 1px solid #000;
}

section.container-menus header.mini-header {
    grid-area: mini-header;
    outline: 1px solid #000;
}

section.container-menus aside.left-menu {
    grid-area: left-menu;
    outline: 1px solid #000;
}

section.container-menus main.main-menu {
    grid-area: main-menu;
    outline: 1px solid #000;
}
