/*DEFAULT VALUES */
* {
    margin: 0 0;
    padding: 0 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.svg {
    padding-top: 3px;
}

html {
    scroll-behavior: smooth;
}

a {
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}

/*SECTION 1 */
section.container-1 {
    height: 100vh;
    display: grid;
    grid-template:
    "header" 50px
    "mini-header" 45px
    "main" 1fr /
    1fr;
    background-image: url("../images/main/hero_iphone_13pro__dhnsegysa42u_large.jpg");
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
}

section.container-1 header.header {
    grid-area: header;
    outline: 0.5px solid #000;
    /* background-color: #1d1d1f; */
    background-color: #000000;
    opacity: 80%;
    display: grid;
    place-items: center;
    justify-content: center;
    z-index: 1;
    /* position: sticky; */
    position: fixed;
    width: 100%;
}

section.container-1 div.mini-header {
    grid-area: mini-header;
    outline: 0.5px solid #000;
    background-color: #f6f8fa;
}

section.container-1 main.main {
    grid-area: main;
    outline: 0.5px solid #000;
    /* background-color: #fbfbfd; */
    display: grid;
    place-items: center;
    grid-template-rows: 1fr 1.7fr;
    /* grid-gap: 10px; */
}

section.container-1 header.header nav.navbar {
    display: grid;
    place-items: center;
    justify-content: center;
}

section.container-1 header.header nav.navbar ul {
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    justify-content: center;
    align-content: start;
    place-items: center;
    grid-gap: 5px;
}

section.container-1 header.header nav.navbar ul li {
    font-size: 12px;
    text-align: left;
    letter-spacing: 0.12px;
    font-family: sans-serif;
    font-weight: 100;
}

section.container-1 header.header nav.navbar ul li a {
    color: #c6c6e2;
}

section.container-1 header.header nav.navbar ul li a:hover {
    color: #f5f5f7;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}


section.container-1 div.mini-header {
    display: grid;
    place-items: center;
}

section.container-1 div.mini-header p {
    font-size: 14px;
    font-family: sans-serif;
    /* text-align: center; */
    letter-spacing: 0.3px;
    color: #2b2b38;
    font-weight: 500;
}

section.container-1 div.mini-header p a:hover {
    text-decoration: underline;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}

section.container-1 main.main a:hover {
    text-decoration: underline;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}

section.container-1 main.main .group-1 {
    display: grid;
    grid-template: 
    "h1-group h1-group" 1fr
    "h2-group h2-group" 1fr
    "a1-group a2-group" auto /
    1fr 1fr;
    grid-gap: 5px;
}

section.container-1 .group-1 a {
    letter-spacing: 0.231px;
    font-size: 18px;
    font-family: sans-serif;
    /* text-align: center; */
    color: #0066cc;
    display: grid;
    place-items: center;
    justify-content: center;
    padding-left: 20px;
}

section.container-1 .group-1 a.special-1 {
    grid-area: a1-group;
}

section.container-1 .group-1 a.special-2 {
    grid-area: a2-group;
}

section.container-1 .group-1 a:hover {
    text-decoration: underline;
}

section.container-1 .group-1 h2 {
    letter-spacing: 0.231px;
    font-size: 28px;
    font-family: sans-serif;
    font-weight: 500;
    color: #1d1d1f;
    grid-area: h2-group;
    /* text-align: center; */
    display: grid;
    place-items: center;
}

section.container-1 .group-1 h1 {
    letter-spacing: 0.231px;
    font-size: 42px;
    font-family: sans-serif;
    font-weight: 700;
    color: #1d1d1f;
    grid-area: h1-group;
}

section.container-1 .group-2 {
    display: grid; 
    place-items: center;
}



/*MAKING PAGE RESPONIVE */
@media screen and (max-width: 868px) {

    section.container-6 {
        height: auto;
        display: grid;
        grid-template: 
        "main-6-1" 1fr
        "main-6-2" 1fr /
        1fr;
        align-content: start;
        grid-gap: 10px;
    }

    section.container-5 {
        height: auto;
        display: grid;
        grid-template: 
        "main-5-1" 1fr
        "main-5-2" 1fr /
        1fr;
        align-content: start;
        grid-gap: 10px;
    }

    section.container-4 {
        height: auto;
        display: grid;
        grid-template: 
        "main-4-1" 1fr
        "main-4-2" 1fr /
        1fr;
        align-content: start;
        grid-gap: 10px;
    }

    section.container-5 .part-1 {
        padding-bottom: 50px;
    }
    section.container-5 .part-2 {
        padding-bottom: 50px;
    }

    section.container-6 .part-1 a {
        font-size: 12px;
    }
    section.container-6 .part-1 h2 {
        font-size: 18px;
    }

    section.container-6 .part-2 {
        padding-bottom: 30px;
    }

    section.container-6 .part-1 {
        padding-top: 80px;
    }

    section.container-6 .part-2 .p-special a {
        font-size: 12px;
    }
    section.container-6 .part-2 .p-special h3 {
        font-size: 22px;
    }
    section.container-6 .part-2 .p-special h4 {
        font-size: 20px;
    }
    section.container-6 .part-2 .p-special p {
        font-size: 14px;
    }

    section.container-4 .part-1 a {
        font-size: 12px;
    }
    section.container-4 .part-1 h1 {
        font-size: 22px;
    }
    section.container-4 .part-1 h2 {
        font-size: 20px;
    }
    section.container-4 .part-2 h1 {
        font-size: 22px;
    }
    section.container-4 .part-2 h2 {
        font-size: 20px;
    }
    section.container-4 .part-2 a {
        font-size: 12px;
    }

    section.container-5 .part-1 h1 {
        font-size: 22px;
    }
    section.container-5 .part-1 h2 {
        font-size: 20px;
    }

    section.container-5 .part-1 a {
        font-size: 12px;
    }

    section.container-5 .part-2 h1 {
        font-size: 22px;
    }

    section.container-5 .part-2 h2 {
        font-size: 20px;
    }
    section.container-5 .part-2 a {
        font-size: 12px;
    }

    section.container-1 header.header nav.navbar ul li {
        font-size: 10px;
    }

    section.container-1 div.mini-header p {
        font-size: 10px;
        text-align: center;
    }

    section.container-1 main.main .group-1 h1 {
        font-size: 22px;
        text-align: center;
    }
    section.container-1 main.main .group-1 h2 {
        font-size: 16px;
        /* padding-left: 50px; */
        text-align: center;
    }
    section.container-1 main.main .group-1 a {
        font-size: 12px;
        text-align: center;
    }

    section.container-2 main.main-2 .group-1-2 h1 {
        font-size: 22px;
        text-align: center;
    }
    section.container-2 main.main-2 .group-1-2 h2 {
        font-size: 16px;
        text-align: center;
    }
    section.container-2 main.main-2 .group-1-2 a {
        font-size: 12px;
        text-align: center;
    }

    section.container-3 main.main-3 .group-1-3 h1 {
        font-size: 22px;
        text-align: center;
    }
    section.container-3 main.main-3 .group-1-3 h2 {
        font-size: 16px;
        text-align: center;
    }
    section.container-3 main.main-3 .group-1-3 a {
        font-size: 12px;
        text-align: center;
    }

    section.container-1 {
        background-size: cover;
        background-position: center;
    }

    section.container-2 {
        background-size: cover;
        background-position: center;
    }

    section.container-3 {
        background-size: cover;
        background-position: center;
    }

    section.container-7 {
        height: 140vh;
    }

    section.container-7 .footer-main-3 p {
        font-size: 10px;
        width: 70ch;
    }

    section.container-7 .footer-main-2  {
        font-size: 10px;
        width: 70ch;
        padding-left: 20px;
    }

    footer.container-7 .footer-main-1 p {
        width: 80ch;
        font-size: 10px;
    }

    footer.container-7 .footer-main-2 ul li.special {
        font-size: 10px;
    }

    ul {
        width: 100%;
    }
}

