@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    margin: 0 0;
    padding: 0 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    transition: 1s;
}

.material-icons {
    color: #141616;
  }

::-webkit-scrollbar {
    width: 10px;
    background-color: transparent;
}

::-webkit-scrollbar:hover {
    width: 10px;
    background-color: #b1b8c2;
    transition: 1s;
}

::-webkit-scrollbar-button:hover {
    width: 10px;  
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    overflow-x: hidden; /* removes scroll in bottom */
}

html {
    scroll-behavior: smooth;
}

a {
    transition: 1s;
    color: #111111;
}

/* HERE THE GIRD LAYOUT FOR THE PAGE */
section.container-menus {
    height: 100vh;
    display: grid;
    grid-template: 
    "header header" 0.1fr
    "main-menu right-menu" 0.9fr /
    0.75fr 0.25fr;
}

section.container-menus main.main-menu {
    grid-area: main-menu;
    outline: 0.5px solid #000;
    width: 100%;
}

section.container-menus aside.right-menu {
    grid-area: right-menu;
    outline: 0.5px solid #000;
    width: 100%;
}

section.container-menus header.header {
    grid-area: header;
    outline: 1px solid #000;
    width: 100%;
    display: grid;
    grid-template: 
    "header-sub-1 header-sub-2 header-sub-3" 1fr /
    0.2fr 0.9fr auto; /* this is where the bug was wich cause header problems, i had all three at 1fr 1fr 1fr but when i tried auto in the last part all went perfect when responsive*/
    background-color: #f9f9f9;
    grid-gap: 5px;
}

section.container-menus header.header .header-sub-1 {
    grid-area: header-sub-1;
    outline: 0.5px solid rgba(41, 19, 19, 0.363);
    display: grid;
    place-items: center;
    justify-content: center;
    /* align-content: start; */
}

section.container-menus header.header .header-sub-2 {
    grid-area: header-sub-2;
    outline: 0.5px solid rgba(41, 19, 19, 0.363);
    display: grid;
    place-items: center;
    justify-content: center;
    /* align-content: start; */
}

section.container-menus header.header .header-sub-3 {
    grid-area: header-sub-3;
    outline: 0.5px solid rgba(41, 19, 19, 0.363);
    display: grid;
    place-items: center;
    justify-content: center;
    /* align-content: start; */
    width: 100%;
}

header.header .header-sub-1 .header-group-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    grid-gap: 10px;
    width: 100%;
}

header.header .header-sub-2 .header-group-2 {
    display: grid;
    grid-template-columns: 550px auto;
    place-items: center;
    justify-content: center;
    grid-gap: 10px;
    width: 100%;
}

header.header .header-sub-3 .header-group-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-gap: 5px;
    place-items: center;
    /* justify-content: center; */
    /* padding-right: 10px; */
    width: 100%;
}

header.header .header-sub-3 .header-group-3 button {
    text-transform: uppercase;
    border: 1px solid #065fd4;
    background-color: #fff;
    font-size: 14px;
    padding: 8px 12px;
    font-weight: 700;
    letter-spacing: 0.5px;
    font-family: 'Roboto', sans-serif;
    color: #065fd4;
    margin-right: 10px;
    cursor: pointer;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
}

header.header .header-sub-3 .header-group-3 button i {
    color: #065fd4;
}

header.header .header-sub-3 .header-group-3 button:hover i {
    color: #e0e4eb;
    transition: 1s;
}

header.header .header-sub-3 .header-group-3 button:hover {
    background-color: #065fd4;
    color: #fff;
    border: 1px solid #111111;
    transition: 1s;
}

header.header .header-sub-2 .header-group-2 .button-search {
    
    display: grid;
    grid-template-columns: 1fr 0.1fr;
    width: 100%;
}

header.header .header-sub-2 .header-group-2 a i{
    font-size: 26px;
}


header.header .header-sub-2 .header-group-2 input {
    font-size: 16px;
    background-color: #fff;
    color: #111111;
    letter-spacing: normal;
    font-weight: normal;
    border: 1px solid #b1b7c0;
    padding: 8px 10px;
    width: 100%;
}

header.header .header-sub-2 .header-group-2 button {
    padding: 8px 10px;
    font-size: 16px;
    background-color: #f5eded;
    border: 1px solid #1e1f20;
    cursor: pointer;
}

header.header .header-sub-2 .header-group-2 input:active {
    border: 1px solid #065fd4;
}